In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Load data to a dataframe
external = pd.read_csv('/content/External_Dataset.csv')
external.shape

(110527, 14)

In [3]:
external.columns

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', 'No-show'],
      dtype='object')

In [4]:
# Correcting spelling errors in column names and adjusting format 
external.columns = ['patient_id', 'appointment_id', 'patient_gender', 'scheduled_day', 
              'appointment_day', 'patient_age', 'neighbourhood', 'scholarship', 'hypertension',
              'diabetes', 'alcoholism', 'handicap', 'sms_received', 'no_show']
external.columns

Index(['patient_id', 'appointment_id', 'patient_gender', 'scheduled_day',
       'appointment_day', 'patient_age', 'neighbourhood', 'scholarship',
       'hypertension', 'diabetes', 'alcoholism', 'handicap', 'sms_received',
       'no_show'],
      dtype='object')

In [5]:
external.head()

,patient_id,appointment_id,patient_gender,scheduled_day,appointment_day,patient_age,neighbourhood,scholarship,hypertension,diabetes,alcoholism,handicap,sms_received,no_show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [6]:
external.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   patient_id       110527 non-null  float64
 1   appointment_id   110527 non-null  int64
 2   patient_gender   110527 non-null  object
 3   scheduled_day    110527 non-null  object
 4   appointment_day  110527 non-null  object
 5   patient_age      110527 non-null  int64
 6   neighbourhood    110527 non-null  object
 7   scholarship      110527 non-null  int64
 8   hypertension     110527 non-null  int64
 9   diabetes         110527 non-null  int64
 10  alcoholism       110527 non-null  int64
 11  handicap         110527 non-null  int64
 12  sms_received     110527 non-null  int64
 13  no_show          110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [7]:
# ScheduledDay is displayed as object, but need to be converted to datetime
external.scheduled_day = pd.to_datetime(external.scheduled_day)
external.scheduled_day.head(2)

0   2016-04-29 18:38:08+00:00
1   2016-04-29 16:08:27+00:00
Name: scheduled_day, dtype: datetime64[ns, UTC]

In [8]:
external.appointment_day = pd.to_datetime(external.appointment_day)
external.appointment_day.head(2)

0   2016-04-29 00:00:00+00:00
1   2016-04-29 00:00:00+00:00
Name: appointment_day, dtype: datetime64[ns, UTC]

In [9]:
external.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   patient_id       110527 non-null  float64
 1   appointment_id   110527 non-null  int64
 2   patient_gender   110527 non-null  object
 3   scheduled_day    110527 non-null  datetime64[ns, UTC]
 4   appointment_day  110527 non-null  datetime64[ns, UTC]
 5   patient_age      110527 non-null  int64
 6   neighbourhood    110527 non-null  object
 7   scholarship      110527 non-null  int64
 8   hypertension     110527 non-null  int64
 9   diabetes         110527 non-null  int64
 10  alcoholism       110527 non-null  int64
 11  handicap         110527 non-null  int64
 12  sms_received     110527 non-null  int64
 13  no_show          110527 non-null  object
dtypes: datetime64[ns, UTC](2), float64(1), int64(8), object(3)
memory usage: 11.8+ MB

In [10]:
# See if there are any missing values
external.describe(include="all");

<ipython-input-10-e46ba460f62c>:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  external.describe(include="all");

Cleaning up Age values (ex: -1)

In [11]:
external.patient_age.value_counts()

 0      3539
 1      2273
 52     1746
 49     1652
 53     1651
        ...
 115       5
 100       4
 102       2
 99        1
-1         1
Name: patient_age, Length: 104, dtype: int64

In [12]:
external.drop(external.query("patient_age == -1").index,inplace=True)

In [13]:
external.patient_age.describe()

count    110526.000000
mean         37.089219
std          23.110026
min           0.000000
25%          18.000000
50%          37.000000
75%          55.000000
max         115.000000
Name: patient_age, dtype: float64

In [14]:
external.duplicated().sum()

0

In [15]:
external.to_csv('External_Cleaned.csv', index=False)

In [16]:
# Loading in dataset we were provided
existing = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/HHA-507-2022/main/competition/data/output_noshow1_balanced_2022-11-16.csv')
existing

,id,patient_id_2,practice_id,appointment_id,patient_id,appointment_date,appointment_start_time,appointment_duration,appointment_type,appointment_status,...,geocode_county,geocode_state,geocode_stusab,geocode_latitude,geocode_longitude,geocode_lengthlife,geocode_healthybehaviors,geocode_clinicalcare,geocode_socioeconomic,geocode_physicalenv
0,1203271,325507_289930,325507,2661965,289930,2021-01-11,18:30:00,5,Rapid-COVID Antigen,x,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,739988,303801_600804,303801,3135811,600804,2020-07-14,12:30:00,15,GYN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,988588,325504_140961,325504,632551,140961,2020-05-14,10:32:00,10,CLINICIAN VISIT,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,511872,303202_271430,303202,1397209,271430,2020-06-24,14:10:00,20,WELL CHECK,x,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,906441,325502_320693,325502,2073212,320693,2021-03-09,17:40:00,10,CLINICIAN VISIT,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1112084,325505_339215,325505,2155885,339215,2021-07-09,17:40:00,10,CLINICIAN VISIT,x,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99996,664096,303801_589658,303801,3069414,589658,2019-09-26,10:30:00,15,Annual,x,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99997,551566,303205_270436,303205,1969680,270436,2021-07-20,14:30:00,15,Established Sick Visit,x,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99998,1277662,325508_345572,325508,2283897,345572,2021-10-02,14:00:00,10,CLINICIAN VISIT,x,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,1441361,325512_46926,325512,696690,46926,2020-07-30,15:10:00,5,TELEMED,x,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
existing.columns

Index(['id', 'patient_id_2', 'practice_id', 'appointment_id', 'patient_id',
       'appointment_date', 'appointment_start_time', 'appointment_duration',
       'appointment_type', 'appointment_status', 'appointment_date_time',
       'appointment_last_modified_date', 'appointment_scheduled_date',
       'appointment_yosi_noshow1', 'appointment_yosi_noshow2', 'custom_client',
       'custom_client_site', 'client_site', 'patient_dob', 'patient_zipcode_x',
       'patient_gender', 'patient_age', 'data_collect', 'patient_age_groupper',
       'appointment_date_qt', 'appointment_date_month',
       'appointment_date_year', 'appintmentWithin3DayHoliday',
       'appintmentWithin5DayHoliday', 'appintmentWithin7DayHoliday',
       'appointment_start_time_groupper', 'appointment_start_time_hour',
       'zipcode', 'weather_conditions', 'weather_icon', 'geocode_zip',
       'geocode_city', 'geocode_county', 'geocode_state', 'geocode_stusab',
       'geocode_latitude', 'geocode_longitude', 'geocode_lengthlife',
       'geocode_healthybehaviors', 'geocode_clinicalcare',
       'geocode_socioeconomic', 'geocode_physicalenv'],
      dtype='object')

In [18]:
existing.shape

(100000, 47)

In [19]:
existing.dtypes

id                                   int64
patient_id_2                        object
practice_id                          int64
appointment_id                       int64
patient_id                           int64
appointment_date                    object
appointment_start_time              object
appointment_duration                 int64
appointment_type                    object
appointment_status                  object
appointment_date_time               object
appointment_last_modified_date      object
appointment_scheduled_date          object
appointment_yosi_noshow1            object
appointment_yosi_noshow2            object
custom_client                        int64
custom_client_site                   int64
client_site                         object
patient_dob                         object
patient_zipcode_x                   object
patient_gender                      object
patient_age                          int64
data_collect                        object
patient_age_groupper                object
appointment_date_qt                  int64
appointment_date_month               int64
appointment_date_year                int64
appintmentWithin3DayHoliday          int64
appintmentWithin5DayHoliday          int64
appintmentWithin7DayHoliday          int64
appointment_start_time_groupper     object
appointment_start_time_hour          int64
zipcode                             object
weather_conditions                  object
weather_icon                        object
geocode_zip                        float64
geocode_city                        object
geocode_county                      object
geocode_state                       object
geocode_stusab                      object
geocode_latitude                   float64
geocode_longitude                  float64
geocode_lengthlife                  object
geocode_healthybehaviors            object
geocode_clinicalcare                object
geocode_socioeconomic               object
geocode_physicalenv                 object
dtype: object

In [20]:
m_external = external[[
    'patient_age',
    'patient_gender',
    'scholarship',
    'diabetes',
    'alcoholism',
    'hypertension'
]]

In [21]:
m_existing = existing[[
    'id',
    'practice_id',
    'appointment_type',
    'patient_gender',
    'zipcode',
    'weather_conditions'
]]

In [22]:
# merged = pd.merge(m_external, m_existing)

In [23]:
# merged.to_csv('master.csv')